@model List<Stock>



<table class="table table-striped">
    <thead class="thead-dark text-white">
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Open</th>
            <th scope="col">Close</th>
            <th scope="col">High </th>
            <th scope="col">Low </th>
            <th scope="col">AdjClose</th>
            <th scope="col">Volume</th>
        </tr>

    </thead>
    <tbody>
        @foreach (var stock in Model)
        {

            <tr class ="text-white">

                <td scope="col">@stock.Date</td>
                <td scope="col">@stock.Open</td>
                <td scope="col">@stock.Close</td>
                <td scope="col">@stock.High</td>
                <td scope="col">@stock.Low</td>
                <td scope="col">@stock.AdjClose</td>
                <td scope="col">@stock.Volume</td>
            </tr>
        }
    </tbody>
</table>